/** @format */

// ! Import Variables
@use "../variables/colors"as *;
@use "../variables/times"as *;

// ! Import Functions
@use "../helpers/animation"as *;

// ! Import Mixins
@use "../helpers/mixin"as *;

.container-fluid.log-out {
  height: 100vh;
  
  img.bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
  
  .main-log-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    img {
      max-width: 300px;
      max-height: 300px;
      margin-top: -100px;

      @media(max-width: 768px) {
        width: 240px;
      }
    }

    form {
      background-color: white;
      border-radius: 12px;
      padding: 50px 30px;
      box-shadow: 0 0 0.5rem $shadow-color;
    }

    input, button {
      width: 400px;
      height: 40px;
      border-radius: 6px;
      margin-bottom: 10px;
      border-color: $main-color;

      @media(max-width: 768px) {
        width: 290px;
        margin-bottom: 5px;
      }

      &:focus {
        box-shadow: 0 0 0 .25rem #023336b2;
      }

      &::placeholder {
        color: $grey-color;
        font-size: 13px;
      }
    }

    .submit {
      background-color: $main-color;
      color: $notif-bg;
    }
  }
}