/** @format */

$main-color: #023336;
$blue-alt-color: #055358;
$orange-color: #f59e0b;
$green-color: #22c55e;
$red-color: #f44336;
$grey-color: #888;
$notif-bg: #fff;
$border-color: #023336;
$shadow-color: rgba(0, 0, 0, 0.1);
$hover-bg: #023336;
$icon-size: 32px;
$padding: 10px;
$border-radius: 50%;


